@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Radio Canada Big", sans-serif;
}

.body{
  background-color: #dadbdd;
}

/* NAVBAR */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #afd2eb;
}
.navbar img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.navbar input{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 20px;
}

.cart-icon {
  width: 40px;
  height: 40px;
  margin-right: -350px;
  cursor: pointer;
}

/* CATEGORY */  

.category {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.category-buttons {
  display: flex;
  flex-direction: row;
}

.category-buttons button {
  width: 100px;
  height: 40px;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  margin-left: 0.95rem;
  margin-right: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.category-buttons button:hover {
  background-color: rgb(126, 237, 126);
  color: white;
}

.category-buttons button:active {
  background-color: rgb(126, 237, 126);
  color: white;
}


/* CARD */


.food-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(20% - 20px); /* Adjust card width based on number of cards in one row and gap */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

.food-image {
  width: 260PX;
  height: 150px; 
  object-fit: cover;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.details h2 {
  margin: 0;
}

.price {
  color: #34d399; /* Green color */
}

.description {
  font-size: 0.875rem;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating .star {
  fill: #ffd700; 
  height: 25px;
  width: 25px;
  margin-top: 15px;
}

.add-to-cart {
  padding: 8px 16px;
  background-color: #34d399; /* Green color */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #059669; /* Dark green color */
}

/* CART */

.cart{
  top: 140px;
  width: clamp(200px, 30%, 600px);
  background-color: white;
  position: absolute;
  height:600px;
  border: 1px solid black;
  z-index: 1000;  
  transition: right 0.5s ease-in-out;
}

.open {
  transform: translateX(0);
}

.cart-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-details h2 {
  margin-top:10px;
  margin-left: 10rem;
  font-size: 1.5rem;
}

.close-icon {
  cursor: pointer;
  margin-left: auto;
  font-size: 2rem;
}

/* CART ITEM */

.cart-item {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.cart-item img {
  width: 3rem;
  height: 3rem;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 18px;
  color: #2d3748;
}

.cart-item-details h5 {
  margin: 5px 0;
  font-size: 16px;
  color:rgb(36, 212, 36);
}

.cart-item-details .quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}
g
.cart-item-details .quantity span {
  font-size: 1.2rem;
  font-weight: 100;
}

.cart-item-details .quantity .minus-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: #a0aec0;
}

.cart-item-details .quantity .plus-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: #a0aec0;
}

.delete-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: #a0aec0;
  margin-bottom:3.2rem;
}


/* CHECKOUT SUMMARY */

.checkout-summary {
  position: sticky;
  bottom: 0;
  left: 0; 
  background-color: #f3efef;
  padding: 20px;
  z-index: 1;
}

.checkout-summary h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.checkout-summary hr {
  border: 0;
  border-top: 1px solid #000000;
  margin: 10px 0;
}

.checkout-summary button {
  background-color: rgb(52, 211, 153);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

.checkout-summary button:hover {
  background-color: #059669;;
}


/* RECIPE PAGE */

.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-button {
  padding: 8px 16px;
  background-color: #34d399; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.home-button:hover {
  background-color: #67b6ef; /* cyan blue color */
}
.recipe-page h2{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 35px;
 }
 
 .video-container {
   width: 100%;
   height: 400px;
   margin-top: 28px;
 }
 
 .video-container iframe {
   width: 100%;
   height: 100%;
 }
 
 .recipe-details h2{
   margin-top: 15px;
   margin-left: 15px;
   font-size: 2.3rem;
 }
 
 .recipe-details ol{
   margin-top: 15px;
   margin-left: 4rem;
   font-size: 1.3rem;
 }
 
 .recipe-details ol li::marker{
 content: "☞";
 }
 
 .recipe-details ol li{
   margin-left: 1rem;
 }
 
 /* FOOTER */
 
 .footer {
   padding: 1.25rem; 
  background-color: #afd2eb; /* Equivalent to bg-base-200 */
   color:black; /* Equivalent to text-base-content */
 }
 
 .footer aside img {
   width: 50px;
   height: 50px;
 }
 
 .footer aside p {
   margin-top: 0.5rem;
   font-size: 1.3rem;
 }
 
 .copyright {
   margin-top: 1rem;
   text-align: center;
 }
 
 .copyright p{
   font-size: 1.1rem;
 }


