@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Radio Canada Big", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #D3C5E5;
}

/* DARK THEME COLORS STARTS */

body.dark{
  background-color:#000000;
}

body.dark .navbar{
  background-color:#8FA55D;
  color: #fff;
}

body.dark .category-buttons button{
  background-color:rgba(72, 72, 72,1);
}

/* DARK THEME COLORS ENDS */

:root {
  --navbarHt: 120px;
}

/* VARIABLE OF CSS */

:root {
  /* Colors */
  --color-whitesmoke: whitesmoke;
  --color-green: #34d399;
  --color-dark-green: #059669;
  --color-red: rgb(255, 0, 0);
  --color-dark-gray: #2d3748;
  --color-light-green: rgb(36, 212, 36);
  --color-light-gray: #a0aec0;
  --color-black: #000000;
  --color-bright-red: red;
  --color-white: #fff;
  --color-true-white: #ffffff;
  --color-true-black: black;
  --color-gray:rgb(152, 148, 148);
  --color-smooth-gray:#e6e2e2;
  --color-gray-border:#ccc;

  /* Background Colors */
  --bg-light-gray: rgb(235, 229, 229);
  --bg-blue: #302ade;
  --bg-light-purple: #735DA5;
  --bg-light-gray-opacity: rgb(229, 231, 235 / var(--tw-bg-opacity));
  --bg-light-green: rgb(126, 237, 126);
  --bg-white: white;
  --bg-off-white: #fefcfc;
  --bg-true-white: #ffffff;
  --bg-black: #000000;
  --bg-light-grayish: rgb(202, 199, 199);
  --bg-green:#34d399;
  --bg-color-dark-green: #059669;
  --bg-green-smooth:rgb(52, 211, 153);
  --bg-pinkish-red:rgba(230, 178, 178,0.7);

  /* Fill */
  --fill:#ffd700;

}

/* NAVBAR */

.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #93e8ff;
  height: 70px;
  z-index: 1000;
  width: 100%;
  position: fixed;
} */
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light-purple);
  height: var(--navbarHt);
  width: 100%;
}

.navbar img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 75%;
}

.navbar input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 20px;
  margin-right: 80px;
}

.navbar h1 {
  font-size: 40px;
  margin-left: 110px;
}

.cart-icon {
  width: 40px;
  height: 40px;
  margin-right: -300px;
  cursor: pointer;
}

/* DARK-MODE SWITCH */

.dark-mode-switch{
  margin-right: -20rem;
  width:33px;
  height:33px;
}


.navbar input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 20px;
  margin-right: 80px;
}

/* CATEGORY */

.category {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.category-buttons {
  display: flex;
  flex-direction: row;
}

.category-buttons button {
  width: 100px;
  height: 40px;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  margin-left: 0.95rem;
  margin-right: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: var(--bg-light-gray-opacity);
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.category-buttons button:hover {
  background-color: var(--bg-light-green);
  color: var(--color-white);
  cursor: pointer;
}

/* .category-buttons button:active {
  background-color: var(--bg-green);
  color: var(--color-white);
} */

/* CARD */

.food-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--bg-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container{
  flex:2;
  width: 150px;
  align-self: center;
  align-items: center;

}

.food-image {
  width: 100%;
  height: 130px;
  object-fit: contain; 

}

.food-image:hover {
  transform: scale(1.1);
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.heading-details {
  text-align: center;
}

.heading-details h2{
  font-size: 1.4rem;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
  font-size: 1.2rem;
  font-weight: 10;
  color: var(--color-green)
}

.rating .star {
  fill: var(--fill);
  font-size: 1.2rem;
}

.description{
  font-size: 1rem;
}

.button-controller {
  display: flex;
  justify-content: space-between;
}

.go-to-recipe,
.add-to-cart {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: var(--bg-green);
  color: (var(--color-white));
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.go-to-recipe:hover,
.add-to-cart:hover {
  background-color: var(--bg-color-dark-green);
}

/* CART */

.cart {
  top: var(--navbarHt);
  width: clamp(200px, 30%, 600px);
  background-color: var(--bg-white);
  position: fixed;
  height: calc(100vh - var(--navbarHt));
  /* border: 1px solid black; */
  /* z-index: 1000; */
  /* transition: right 0.5s ease-in-out; */
}

.open {
  transform: translateX(0);
}

/* .cart-details {
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  position: relative; */
  /* flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center; */

.cart-details h2 {
  display: flex;
  margin-top: 1rem;
  /* margin-top: 10px;
  margin-left: 10rem;
  font-size: 1.5rem; */
}

.cart-details h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-left: 9.9rem;
}

.close-icon {
  position: absolute;
  margin-bottom: 10rem;
  right: 10px;
  cursor: pointer;
  font-size: 2rem;
}

.close-icon:hover {
  color: var(--color-red);
}

/* CART ITEM */

.cart-items {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
  height: 412px;
}

.empty-cart h3 {
  font-size: 2rem;
  margin-top: 10rem;
  color: var(--color-gray);
  font-weight: 100;
  margin-left: 8rem;
}

.cart-item {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.cart-item img {
  width: 3rem;
  height: 3rem;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 18px;
  color: var(--color-dark-gray);
}

.cart-item-details h5 {
  margin: 5px 0;
  font-size: 16px;
  color: var(--color-light-green);
}

.cart-item-details .quantity .minus-icon:hover {
  cursor: pointer;
  color: var(--color-red);
}

.cart-item-details .quantity .plus-icon:hover {
  cursor: pointer;
  color: var(--color-red);
}

.cart-item-details .quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-details .quantity span {
  font-size: 1.2rem;
  font-weight: 100;
}

.cart-item-details .quantity .minus-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-light-gray);
}

.cart-item-details .quantity .plus-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-light-gray);
}

.delete-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-light-gray);
  margin-bottom: 3.2rem;
}

/* CHECKOUT SUMMARY */

.checkout-summary {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: var(--bg-off-white);
  padding: 20px;
  z-index: 1;
  height: 20%;
}

.checkout-summary h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.checkout-summary h4 span {
  color: var(--color-bright-red);
}

.checkout-summary hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin: 10px 0;
}

.checkout-summary .checkout-button {
  background-color: var(--bg-green-smooth);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 88%;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.checkout-summary .checkout-button:hover {
  background-color: var(--bg-color-dark-green);
}


/* RECIPE PAGE */

.close-icon1 {
  position: absolute;
  /* top: 3.5rem; */
  right: 2rem;
  cursor: pointer;
  font-size: 2.8rem;
  transition: background-color 0.3s ease;
}

.close-icon1:hover {
  color: var(--color-red);
}
.recipe-page {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  height: calc(100vh - 160px);
  padding: 1.5rem;
  border-radius: 25px;
}

.recipe-page h2 {
  align-self: center;
  font-size: 45px;
  margin-bottom: 1.2rem;
}

.recipe-page p {
  /* align-self: center; */
  font-size: 19px;
  margin-top: 10px;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 9px;
  margin-top: 2rem;
}

.video-container {
  grid-area: 1/1/2/2;
  width: 750px;
  height: 375px;
  margin-top: 28px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.recipe-details {
  grid-area: 1/2/2/3;
}

.recipe-details h2 {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 2.3rem;
}

.recipe-details ol {
  margin-top: 15px;
  margin-left: 4rem;
  font-size: 1.3rem;
}

.recipe-details ol li::marker {
  content: "☞";
}

.recipe-details ol li {
  margin-left: 1rem;
}


/* CHECKOUT */

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  background-image: url('../public/bg.png');
}

.heading h1 {
  font-size: 2.3rem;
  margin-bottom: 1.2rem;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
}

.left-section {
  display: flex;
  flex-direction: column;
  /* margin-right: -3rem; */
  width: 70%;
  gap: 15px;
}

.delivery-section,
.payment-section,
.order-review {
  width: 680px;
  /* margin-bottom: 1rem; */
}

.delivery-section {
  background-color: var(--bg-true-white);
  /* height: 420px; */
}

/* DELEVERY SECTION STARTS */

.delivery-section h2 {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0.7rem;
  background-color: var(--bg-black);
  cursor: pointer;
}

.option-buttons {
  display: flex;
  justify-content: center;
  margin-top:15px;
}

.option-button {
  flex: 1;
  padding: 12px;
  background-color: var(--bg-true-white);
  color: var(--color-black);
  cursor: pointer;
  border: none;
  text-align: center;
  margin: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.option-button.active {
  background-color: var(--bg-green);
  color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.address-section,.pickup-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.address-section .name {
  height: 2.2rem;
  border: 2px solid var(--color-smooth-gray);
}

.Mobile-number {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Mobile-number .number {
  height: 2.2rem;
  border: 2px solid var(--color-smooth-gray);
  width: 15rem;
}

.Mobile-number .email {
  height: 2.2rem;
  border: 2px solid var(--color-smooth-gray);
  width: 24rem;
  margin-left: 1rem;
}

.address-section .address {
  border: 2px solid var(--color-smooth-gray);
}

.error-message {
  color: var(--color-bright-red);
  font-size: 12px;
}


.save-button {
  /* margin-top: 0.8rem; */
  margin-bottom:0.5rem;
  margin-left: 33rem;
  font-size: 0.78rem;
  background-color: var(--bg-green);
  color: var(--color-white);
  padding: 10px 10px;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.save-button:hover {
  background-color: var(--bg-color-dark-green);
}

/* PICKUP SECTION STARTS */

.date-picker {
  margin-top: 15px;
}

.custom-datepicker {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray-border);
  border-radius: 4px;
  cursor: pointer;
}

.pickup-option{
  margin-left: 2rem;
}

.date-picker-container {
  position: relative;
  margin-top:12px;
}

.clock {
  position: absolute;
  top:8px;
  right:29.6rem;
  height:1.5rem;
  width:1.5rem;
  cursor: pointer;
}




/* DELEVERY SECTION ENDS */

/* PAYMENT SECTION STARTS   */
.payment-section h2 {
  background-color: var(--bg-black);
  color: var(--color-white);
  height: 40px;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0.6rem;
  width: 660px;
  cursor: pointer;
}

.payment-section form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  padding: 1rem;
}

.payment-section hr {
  border: 1px solid var(--color-smooth-gray);
  margin-bottom: 0.5rem;
}

.payment-method {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.payment-method label {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 1rem;
}

.payment-method small {
  margin-top: 1.5rem;
}

.payment-method .text {
  flex-basis: 100%;
  margin-left: 30px;
}

.payment-method .images {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.payment-method img {
  margin-left: 10px;
  height: 38px;
}

.review-button {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-green);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.review-button:hover {
  background-color: var(--bg-color-dark-green);
}

/* PAYMENT SECTION ENDS */

/* ORDER REVIEW SECTION STARTS FROM HERE */

.order-review {
  background: var(--bg-true-white);
}

.order-review h2 {
  background-color: var(--bg-black);
  color: var( --color-white);
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6rem;
}

.order-info {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* .order-info h4{
  font-size: 1.6rem;
} */

.order-info p {
  margin-top: 1rem;
  font-size: 1.2rem;
  word-break: break-all;
  width: 100%;
  box-sizing: border-box;
}

.place-order-button {
  margin-left: 33rem;
  display: flex;
  width: 4rem;
  align-items: flex-end;
  font-size: 0.79rem;
  background-color: var(--bg-green);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.8rem;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.place-order-button:hover {
  background-color: var(--bg-color-dark-green);
}

/* ORDER REVIEW SECTION ENDS */

/* CSS TRANSITION STARTS */

.section-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 500ms ease-out, opacity 700ms ease-out;
}

.section-enter-active {
  max-height: 620px; /* a value large enough to accommodate the content */
  opacity: 1;
}

.section-exit {
  max-height: 620px;
  opacity: 1;
}

.section-exit-active {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in, opacity 700ms ease-in;
}

/* CSS TANSTION ENDS */

/* CART SECTION STARTS FROM HERE */
.cartpage {
  display: flex;
  flex-direction: column;
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0; */
  background-color: var(--bg-true-white);
  width: 350px;
  height: calc(100vh - 14rem);
}

.cart-heading1 {
  color: var(--color-true-black);
  font-size: 1rem;
  font-weight: 10;
  padding: 0.7rem;
  background-color: var(--bg-light-grayish);
}

.cart-total {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-total p,
h4 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 1rem;
  margin: 0;
}

.cart-total h4 span {
  color: var(--color-green);
}
.cart-items-container {
  max-height: 330px; /* Adjust as needed */
  overflow-y: auto;
}

.cart-heading2 {
  color: var(--color-true-black);
  font-size: 1rem;
  padding: 0.7rem;
}

.empty-cart1 {
  font-size: 1.5rem;
  margin-top: 7rem;
  color: var(--color-gray);
  font-weight: 10;
  margin-left: 3.8rem;
}

/* CART SECTION ENDS */



/* FOOTER */

.footer {
  padding: 1.25rem;
  background-color: var(--bg-light-purple); /* Equivalent to bg-base-200 */
  color: var(--color-true-black)
  ; /* Equivalent to text-base-content */
}

.footer aside img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer aside p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
}

.copyright p {
  font-size: 1.1rem;
}

/*media qu for responsive */

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 10px;
    height: auto;
  }

  .navbar img {
    width: 60px;
    height: 60px;
  }

  .navbar h1 {
    font-size: 25px;
    margin-left: 40px;
  }

  .navbar input {
    width: 122px;
    margin-right: 20px;

  }

  .navbar input::placeholder{
  font-size:15px;
  }
  .cart-icon {
    position: fixed;
    height: 3rem;
    width: 3rem;
    bottom: 20px;
    right: 20px;
    margin-right: 0;
    margin-top: 0;
    background-color: rgb(210, 190, 212);
    border-radius: 45%;
  }
  
  .category-buttons {
    flex-direction: row;
    overflow-x: scroll;
   scroll-behavior: smooth;
  }

  .category-buttons button {
    padding: 0.8rem;
  }

  .food-container {
    flex-direction: column;
    align-items: center;
  }

  .cart{
    height:100vh;
    width:100%;
    top:0;
    z-index:1;
  }
  
  .cart-heading h3{
    /* text-align: center; */
    margin-left: 7rem;
    font-size: 1.7rem;
  }
  
  .cart-items{
    height: 570px;
  }

  .empty-cart h3{
    margin-top: 17rem;
    margin-left: 5rem;
  }

  .checkout-summary .checkout-button{
    width: 295px;
  }

  .close-icon1{
    margin-top:0.8rem;
    font-size: 2.5rem;
  }


  .recipe-page{
   padding: 1rem;
  }

  .recipe-page h2{
    font-size: 1.7rem;
    margin-bottom: 3px;
  }
 
  .recipe-page h4{
    font-size: 1.4rem;
    font-weight: 50;
  }

  .recipe-page h4 span{
    font-size: 0.9rem;
    display: flex;
    font-weight: 10;
  }

  .details{
    display: flex;
    flex-direction: column;
  }

  .video-container{
    width: 300px;
    height: 200px;
    margin-top: -10px;
  }

  .recipe-details h2{
  font-size: 1.3rem;
  font-weight: 20;
  }

  .recipe-details ol{
    font-size: 0.7rem;
    margin-left: 1rem;
  }

  /* CHECKOUT PAGE */

  .checkout {
    margin-top: 2rem;
  }

  .heading h1 {
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
    margin-right: 0.5rem;
    /* text-align: center; */
  }

  .checkout-container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
  }

  .cartpage {
    /* margin-left: 10rem; */
    margin: 0.8rem;
    width: 100%;
    /* border-radius: 10px; */
  }

  .cart-heading1 {
    font-size: 1.3rem;
  }

  .cart-items-container {
    max-height: 378px;
  }

  .left-section {
    padding: 8px;
  }

  .delivery-section,
  .payment-section,
  .order-review {
    width: 365px;
  }
  
  .save-button{
    margin-top: 0.8rem;
    margin-left:10rem;
  }

  .payment-section h2 {
    width: 345px;
  }
  
  .place-order-button {
    margin-top: 0.8rem;
    margin-left: 15rem;
  }

}